#carte{
    
    img{
        max-width: 100%;
        border-radius: 10px;
    }

    .nom {
        height: 15vw;
        max-height: 100px;
    }
    
    .bienv {
        height: 50vw;
        max-height: 400px;
    }

    .ailogo{
        height: 20vw;
        max-height: 200px;
    }

    .airmark{
        height: 5vw;
        max-height: 70px;
    }

    .aipln{
        height: 25vw;
        max-height: 400px;
    }

    .aivolut{

    }

    .class {
        width: 80vw;
        max-width: 700px;
        margin-top: 10px;
    }

    .eco {
        width: 80vw;
        max-width: 700px;
    }

    .klm{
        height: 9vw;
        margin-right: 2vw;
    }

    .skyklm{
        height: 12vw;
        margin-left: 2vw;
    }

    .klmtabl{
        height: 90vw;
        max-height: 700px;
    }

    .conlog{
        height: 20vw;
    }

    .concdg{
        height: 30vw;
    }

    .convol{
        height: 20vw;
    }

    video {
        border-radius: 10px;
        height: 40vw;
    }
}